// Import Theme
@import "../../scss/theme";


// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.film-list {

    &.no-films {
        display: block;
    }

    .film-slider {
        margin: 0;
        max-height: 100vh;

    }


    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {  }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { }

}

:global(.slick-dots ) {
    bottom: 10px !important;

    li {
        button {
            &:before {
                font-size: 8px;
                opacity: .55;
                color: lightgray;
            }
        }
    }
}
