// Import Theme
@import "../../scss/theme";


// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.film-item {
    margin: 0;
    padding: 0;
    width: 100%;

    /* For our current purpose this keeps the slideshow
       maximized with the view, no larger, no smaller */
    height: 100% !important;

    .film-item_inner {
        margin: 0;
        padding: 0;
        height: 100%;
        max-height: 100vh;

        .cover-image {
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cover-image_mask {
            position: absolute;
            top: 0;
            width: 100vw;
            height: 100%;
            background: rgba( 0, 0, 0, 0.2 );
            box-shadow: inset 0 -20px 64px #000;
        }

        .cover-details {
            margin: 0;
            margin-left: 15px;
            position: absolute;
            bottom: 10%;
            width: 100vw;
            height: auto;
            text-align: left;

            .cover-details_title {
                margin: 0;
                padding: 0;
                position: relative;
                display: block;
                font-size: 1.6rem;
                font-weight: 600;
                color: white;
            }

            .cover-details_info {
                @extend .cover-details_title;

                padding-bottom: 8px;
                font-size: 1.0rem;
                font-weight: 300;
                color: lightgray;
            }

            .cover-details_action-button {
                border-radius: 0 !important;
            }
        }

    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    }
}

/*
124 186  (320px)  (2 in row)

248 386  (568px)  (2 in row)

168 248  (768) ( 4 in row )

124 186  (992px) ( 7 in row )

148 224  (1200px)  ( 7 in row )
*/
