// Import Theme
@import "../../scss/theme";

// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.error-handler_container {
    position: relative;
    padding-bottom: 48px;
    height: 100%;
    display: flex;
    flex-flow: column;

    .focus-header {
        width: 100%;

        .title-capture {
            color: $theme-surface-secondary;
            font-weight:600;
            letter-spacing: -4px;
        }
    }

    .focus-content {
        width: 100%;
        height: 100%;


        .error-wrap {
            position: relative;
            margin-top:24px;

            &.error-message {
                top: 50%; left: 50%;
                transform: translate(-50%,-50%);

                h1 {
                    color: #ccc;
                    font-weight: 800;
                    font-size: 2.5rem;
                }
                small {
                    color: #888;
                }
                p {
                    font-size: 90%;
                }
            }
        }

        .error-content_container {
            position: relative;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

        .error-wrap {
            margin-top: 32px;

            &.error-message {

                h1 {
                    font-size: 3.0rem !important;
                }
            }
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

        .error-wrap {
            margin-top: 48px;

            &.error-message {

                h1 {
                    font-size: 3.5rem !important;
                }
                p {
                    font-size: 100% !important;
                }
            }
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

    }
}
